.bg-imag{
    background-image: url('https://i.pinimg.com/originals/16/2c/dc/162cdc865b8819f0318051ea13b08131.png');
    height: 100vh;
    width: 100vw;
    background-size:cover;
}


.main-container{
    height: 100%;
    width: 100%;

  }

  .sub-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .emoji-container{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
  }
  .action-main{
    font-size: 10vw;
    margin: 20px;
  }

  .emoji-tittle {
    font-size: x-large;
    font-weight: bolder;
    color: white;
    text-shadow: 0 0 5px black; /* Ajustar el tamaño y color del contorno según sea necesario */
  }
  


  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(7px);
    }
  }
  
  .float-animation {
    animation: float 2s ease-in-out infinite;
  }
  

  .contador{
    color: white;
    font-size: 10vw;
    margin: 20px;
    text-shadow: 0 0 5px black;
  }

  .User-selection {
    animation: slideInRight 1.5s forwards;
    font-size: 10vw;
    opacity: 0;
    margin-right: 20px;
  }
  
  @keyframes slideInRight {
    from {
      transform: translateX(-200%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .bot-selection{
    animation: slideInLeft 1.5s forwards;
    opacity: 0;
    font-size: 10vw;
    margin-left: 20px;
  }

  .selections{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @keyframes slideInLeft {
    from {
      transform: translateX(+200%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .game-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

 



  @keyframes show {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .button-main {
    animation: show 0.5s ease-in-out forwards;
    width: 30vw;

  }
  