.bg-image{
  background-image: url('https://i.pinimg.com/736x/8f/dc/3b/8fdc3b8300604ed2af0e86142dc47443.jpg');
  height: 100vh;
  width: 100vw;
  background-size:cover;

}


.main-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-container{
  display: flex;
  flex-direction:row;
  
}
.button-main{
  width: 20vw;
}